{% set expirada=oferta.fechaExpiracion|date('YmdHis') < 'now'|date('YmdHis') %}
{% set comprada = comprada | default(false) %}

<section class="oferta mini">
<div class="descripcion">
<h2><a href="{{ path('oferta', { 'ciudad': oferta.ciudad.slug, 'slug':
oferta.slug }) }}">{{ oferta.nombre }}</a></h2>
{{ oferta.descripcion  }}

{% if not expirada and not comprada %}
<a class="boton" href="#">Comprar</a>
{% endif %}
<div class="estado {{ expirada ? 'expirada':'' }} {{ comprada ? 'comprada':''
}}">
{% if comprada %}
Comprada el {{ fechaCompra | date('d/m/Y') }}
{% elseif not expirada %}
<strong>Faltan(V&aacute;lida hasta )</strong>: {{ oferta.fechaExpiracion | date() }}
{% else %}
Finalizada el {{ oferta.fechaExpiracion | date('d/m/Y') }}
{% endif %}
</div>
</div>
<div class="galeria">
<img alt="Fotografía de la oferta" src="{{ asset('uploads/images/' ~
oferta.foto) }}">
<p>Precio: {{ oferta.precio }} &euro; 
<p>Precio: {{oferta.nombre}}</p>
<p>Descuento: {{ oferta.descuento }}</p>
<p>Disfruta de esta oferta en <a href="#">{{ oferta.tienda.nombre
}}</a></p>
</div>
</section>