<section class="oferta mini">
<div class="descripcion">
<h2><a href="{{ path('oferta', { 'ciudad': oferta.ciudad.slug, 'slug':
oferta.slug }) }}">{{ oferta.nombre }}</a></h2>
{{ oferta.descripcion  }}
<a class="boton" href="#">Comprar</a>
<div class="estado">
<strong>Faltan</strong>: {{ oferta.fechaExpiracion  }}
</div>
</div>
<div class="galeria">
<img alt="Fotografía de la oferta" src="{{ asset('uploads/images/' ~
oferta.foto) }}">
<p>Precio: {{ oferta.precio }} &euro; 
<p>Precio: {{oferta.nombre}}</p>
<p>Descuento: {{ oferta.descuento }}</p>
<p>Disfruta de esta oferta en <a href="#">{{ oferta.tienda.nombre
}}</a></p>
</div>
</section>